.body {
    font-family: 'Tektur';
}

/* Дополнительные стили для блока с данными о пешеходных маршрутах */
.table-auto {
    width: 100%;
    margin-top: 1em;
    border-collapse: collapse;
}
  
.table-auto th,
.table-auto td {
    border: 1px solid #e2e8f0;
    padding: 0.75em;
    text-align: left;
}
  
/* Дополнительные стили для блока со списком доступных гидов */
.grid {
    display: grid;
}
  
.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
  
.bg-gray-100 {
    background-color: #d1d5db;
}  

/* Дополнительные стили для меню */
.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Дополнительные стили для области для всплывающих уведомлений */
.notification {
    position: fixed;
    top: 80px;
    width: 100%;
    z-index: 1000; 
}

/* Дополнительные стили для блока с информацией о достоинствах компании */
.inf {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.positive {
    width: 30%;
    max-width: 300px;
    min-width: 200px;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s;
}

.positive:hover {
    transform: scale(1.1);
}